.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 1440px;
  height: 100px;
  max-width: 100%;
  background: var(--token-jjDfppFjp);
  position: relative;
  padding: 0px;
  border-bottom: 1px solid #c2d4ea;
}
.freeBox__u8Yv1 {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px 135px;
}
.freeBox__u8Yv1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__u8Yv1 > :global(.__wab_flex-container) > *,
.freeBox__u8Yv1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u8Yv1 > :global(.__wab_flex-container) > picture > img,
.freeBox__u8Yv1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u8Yv1 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u8Yv1 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsbase2 {
  display: none;
}
.columnsbase2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columnsbase2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.column__eklhN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__eklhN {
    display: none;
  }
}
.columnbase2__eklhNSkKnm {
  display: none;
}
.freeBox__krSpk {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  margin-left: 0px;
  min-width: 0;
}
.freeBox__krSpk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__krSpk > :global(.__wab_flex-container) > *,
.freeBox__krSpk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__krSpk > :global(.__wab_flex-container) > picture > img,
.freeBox__krSpk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__krSpk {
    flex-direction: column;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__krSpk > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__krSpk > :global(.__wab_flex-container) > *,
  .freeBox__krSpk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__krSpk > :global(.__wab_flex-container) > picture > img,
  .freeBox__krSpk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBoxbase2__krSpkSkKnm {
  display: none;
}
.link__eH6V {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.linkbase2__eH6VSkKnm {
  display: none;
}
.img__m7H1L {
  object-fit: cover;
  width: 123px;
  height: 39px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  align-self: center;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__m7H1L > picture > img {
  object-fit: cover;
}
.img__m7H1L > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__m7H1L {
    align-self: flex-start;
    left: auto;
    top: auto;
    display: none !important;
  }
}
.imgbase2__m7H1LSkKnm {
  display: none !important;
}
.freeBox__p3ZTa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__eYzpA {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button__z6Ldp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.text__uXt31 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__awB1P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__e5Qgi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__qeunp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qeunp {
    display: none;
  }
}
.freeBox__tyGcR {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  width: auto;
  padding: 8px 0px;
}
.freeBox__tyGcR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 7px);
  width: calc(100% + 7px);
}
.freeBox__tyGcR > :global(.__wab_flex-container) > *,
.freeBox__tyGcR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tyGcR > :global(.__wab_flex-container) > picture > img,
.freeBox__tyGcR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 7px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tyGcR {
    display: none;
  }
}
.button__mwCo7 {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-rAM-KXRql);
  align-self: center;
  width: 100px;
  flex-shrink: 0;
  display: none;
  border-width: 0px;
}
.text__hOJf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  align-self: center;
  margin-right: 15px;
  margin-left: calc(0px + 7px) !important;
  display: none;
}
.button__rCqCq {
  position: relative;
  align-self: center;
  color: #ffffff;
  background: var(--token-YwVAFL3GU);
  font-weight: 600;
  font-size: 16px;
  height: 40px;
  width: 200px;
  flex-shrink: 0;
  border-radius: 25px;
  padding: 6px 24px 6px 25px;
  border-width: 0px;
}
.navigationBar__wzCi7:global(.__wab_instance) {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  max-width: 100%;
  position: relative;
  display: none;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar__wzCi7:global(.__wab_instance) {
    display: flex;
  }
}
.link__taZr4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__crzKm {
  object-fit: cover;
  height: 40px;
}
.img__crzKm > picture > img {
  object-fit: cover;
}
.img__crzKm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.hamburgerMenu {
  object-fit: cover;
  align-self: center;
  width: 25px;
  height: 25px;
}
.hamburgerMenu > picture > img {
  object-fit: cover;
}
.hamburgerMenu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___2EHfR {
  object-fit: cover;
}
.img___2EHfR > picture > img {
  object-fit: cover;
}
.img___2EHfR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link___4EFw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link___4IlvR {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link__o5BP3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.navigationBar__ehcn2:global(.__wab_instance) {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: none;
  padding: 16px;
}
.navigationBarbase2__ehcn2SkKnm:global(.__wab_instance) {
  display: flex;
}
.link__cgk1B {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__oey6J {
  object-fit: cover;
  width: 123px;
  height: 39px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  align-self: center;
  margin-right: 0px;
  flex-shrink: 0;
}
.img__oey6J > picture > img {
  object-fit: cover;
}
.img__oey6J > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__oey6J {
    align-self: flex-start;
    left: auto;
    top: auto;
    display: none !important;
  }
}
.imgbase2__oey6JSkKnm {
  left: auto;
  top: auto;
}
.img__rg5Xm {
  object-fit: cover;
}
.img__rg5Xm > picture > img {
  object-fit: cover;
}
.img__rg5Xm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__bbGiy {
  object-fit: cover;
}
.img__bbGiy > picture > img {
  object-fit: cover;
}
.img__bbGiy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__xgPPy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link__af3Ld {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link__cK0Jg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.button__b1Kal {
  position: relative;
  align-self: center;
  color: #ffffff;
  background: var(--token-YwVAFL3GU);
  font-weight: 600;
  font-size: 16px;
  height: 40px;
  width: 200px;
  border-radius: 25px;
  padding: 6px 24px 6px 25px;
  border-width: 0px;
}
