.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  background: linear-gradient(0deg, #f5f6f6 43%, #f5f6f600 100%);
  min-width: 0;
  padding: 100px 134px;
  border-top: 80% solid #c7d8ee;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 50px 29px 49px;
  }
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 5 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 2 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 2 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__rFfq1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rFfq1 {
    width: 100%;
  }
}
.freeBox___5UfcT {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  align-self: flex-start;
  margin-right: 0px;
  min-width: 0;
}
.freeBox___5UfcT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox___5UfcT > :global(.__wab_flex-container) > *,
.freeBox___5UfcT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5UfcT > :global(.__wab_flex-container) > picture > img,
.freeBox___5UfcT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.freeBox__vL0Jw {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vL0Jw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__vL0Jw > :global(.__wab_flex-container) > *,
.freeBox__vL0Jw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vL0Jw > :global(.__wab_flex-container) > picture > img,
.freeBox__vL0Jw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.img__gizOb {
  opacity: 1;
  object-fit: cover;
  width: 130px;
  height: 40px;
  position: relative;
  align-self: flex-start;
  flex-shrink: 0;
}
.img__gizOb > picture > img {
  object-fit: cover;
}
.img__gizOb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___7VHy {
  position: relative;
  width: 100%;
  height: auto;
  color: #58667f;
  font-size: 17px;
  line-height: 150%;
  min-width: 0;
}
.freeBox__pdO {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pdO > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__pdO > :global(.__wab_flex-container) > *,
.freeBox__pdO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pdO > :global(.__wab_flex-container) > picture > img,
.freeBox__pdO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__xCnOs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-rAM-KXRql);
  font-weight: 600;
  font-size: 15px;
  min-width: 0;
}
.freeBox__faLEs {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
.freeBox__faLEs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__faLEs > :global(.__wab_flex-container) > *,
.freeBox__faLEs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__faLEs > :global(.__wab_flex-container) > picture > img,
.freeBox__faLEs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.link__udnOe {
  position: relative;
  display: flex;
}
.link__mnnI {
  display: flex;
}
.img__evmsG {
  object-fit: cover;
  max-width: 100%;
  height: 45px;
}
.img__evmsG > picture > img {
  object-fit: cover;
}
.img__evmsG > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__siLwa {
  position: relative;
  display: flex;
}
.img__kUoz7 {
  object-fit: cover;
  max-width: 100%;
  height: 45px;
}
.img__kUoz7 > picture > img {
  object-fit: cover;
}
.img__kUoz7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__pA {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__pA > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__pA > :global(.__wab_flex-container) > *,
.freeBox__pA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pA > :global(.__wab_flex-container) > picture > img,
.freeBox__pA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__nFP {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  color: var(--token-rAM-KXRql);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__ir31E {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ir31E > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__ir31E > :global(.__wab_flex-container) > *,
.freeBox__ir31E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ir31E > :global(.__wab_flex-container) > picture > img,
.freeBox__ir31E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.link__dYqN {
  display: flex;
}
.svg__yKxZ {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-YwVAFL3GU);
  flex-shrink: 0;
}
.link___5HGnL {
  display: flex;
}
.svg__oaInP {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-YwVAFL3GU);
  flex-shrink: 0;
}
.link__hu6QF {
  display: flex;
}
.svg__dWhCk {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-YwVAFL3GU);
  flex-shrink: 0;
}
.column__jDvn6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jDvn6 {
    width: 100%;
  }
}
.freeBox__oMc2I {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__oMc2I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__oMc2I > :global(.__wab_flex-container) > *,
.freeBox__oMc2I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oMc2I > :global(.__wab_flex-container) > picture > img,
.freeBox__oMc2I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.text___4E5Ct {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-rAM-KXRql);
  height: auto;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__n7J0 {
  position: relative;
  left: auto;
  top: auto;
  color: #58667f;
  height: auto;
  font-size: 17px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___3Pz {
  position: relative;
  left: auto;
  top: auto;
  color: #58667f;
  height: auto;
  font-size: 17px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__qhDb6 {
  position: relative;
  left: auto;
  top: auto;
  color: #58667f;
  height: auto;
  font-size: 17px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__lHo0K {
  position: relative;
  left: auto;
  top: auto;
  color: #58667f;
  height: auto;
  font-size: 17px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___3QGh {
  position: relative;
  left: auto;
  top: auto;
  color: #58667f;
  height: auto;
  font-size: 17px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column___9ExuQ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 25%;
}
.column___9ExuQ > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column___9ExuQ > :global(.__wab_flex-container) > *,
.column___9ExuQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___9ExuQ > :global(.__wab_flex-container) > picture > img,
.column___9ExuQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___9ExuQ {
    width: 100%;
  }
}
.freeBox___8EhbN {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___8EhbN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___8EhbN > :global(.__wab_flex-container) > *,
.freeBox___8EhbN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8EhbN > :global(.__wab_flex-container) > picture > img,
.freeBox___8EhbN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__yHv3L {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-rAM-KXRql);
  height: auto;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__xH5Av {
  position: relative;
  left: auto;
  top: auto;
  color: #58667f;
  height: auto;
  font-size: 17px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__chaju {
  position: relative;
  left: auto;
  top: auto;
  color: #58667f;
  height: auto;
  font-size: 17px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__bEyT2 {
  position: relative;
  left: auto;
  top: auto;
  color: #58667f;
  height: auto;
  font-size: 17px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___5NYv {
  position: relative;
  left: auto;
  top: auto;
  color: #58667f;
  height: auto;
  font-size: 17px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 0px;
}
.link__qWAb {
  position: relative;
  left: auto;
  top: auto;
  color: #58667f;
  height: auto;
  font-size: 17px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column___7CksW {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 25%;
}
.column___7CksW > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column___7CksW > :global(.__wab_flex-container) > *,
.column___7CksW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___7CksW > :global(.__wab_flex-container) > picture > img,
.column___7CksW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7CksW {
    width: 100%;
  }
}
.freeBox__eBp3J {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__eBp3J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eBp3J > :global(.__wab_flex-container) > *,
.freeBox__eBp3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eBp3J > :global(.__wab_flex-container) > picture > img,
.freeBox__eBp3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__cLxQk {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-rAM-KXRql);
  height: auto;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__czA2I {
  position: relative;
  left: auto;
  top: auto;
  color: #58667f;
  height: auto;
  font-size: 17px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__zOxHh {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-rAM-KXRql);
  height: auto;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: calc(26px + 25px) !important;
}
.freeBox___2NlbX {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  margin-top: calc(0px + 25px) !important;
  min-width: 0;
}
.freeBox___2NlbX > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___2NlbX > :global(.__wab_flex-container) > *,
.freeBox___2NlbX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2NlbX > :global(.__wab_flex-container) > picture > img,
.freeBox___2NlbX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__yCwRg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.img__yCwRg > picture > img {
  object-fit: cover;
}
.img__yCwRg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__v6RKc {
  color: #58667f;
  height: auto;
  font-size: 15px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__nKaUn {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  margin-top: calc(0px + 25px) !important;
  min-width: 0;
}
.freeBox__nKaUn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nKaUn > :global(.__wab_flex-container) > *,
.freeBox__nKaUn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nKaUn > :global(.__wab_flex-container) > picture > img,
.freeBox__nKaUn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__kw5Db {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.img__kw5Db > picture > img {
  object-fit: cover;
}
.img__kw5Db > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__is6Gk {
  color: #58667f;
  height: auto;
  font-size: 15px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__jKJa {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  margin-top: calc(0px + 25px) !important;
  min-width: 0;
}
.freeBox__jKJa > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__jKJa > :global(.__wab_flex-container) > *,
.freeBox__jKJa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jKJa > :global(.__wab_flex-container) > picture > img,
.freeBox__jKJa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.img__ff0Xe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.img__ff0Xe > picture > img {
  object-fit: cover;
}
.img__ff0Xe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__rczg8 {
  color: #58667f;
  height: auto;
  font-size: 15px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.4;
  letter-spacing: normal;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
