.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.menuHeaderDesktop:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  flex-shrink: 0;
}
.hero {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(180deg, #f5f6f6 29%, #ffffff 90%);
  min-width: 0;
  padding: 60px 135px 230px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    padding: 35px 35px 0px;
  }
}
.columns__nmdft {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__nmdft > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__nmdft > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__nmdft > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nmdft {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nmdft > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___5UgaU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.img__e5B5Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 280px;
  flex-shrink: 0;
}
.img__e5B5Q > picture > img {
  object-fit: cover;
}
.img__e5B5Q > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__i9SaE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox___2G39 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___2G39 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox___2G39 > :global(.__wab_flex-container) > *,
.freeBox___2G39 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2G39 > :global(.__wab_flex-container) > picture > img,
.freeBox___2G39
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.freeBox___8ORd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___8ORd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___8ORd > :global(.__wab_flex-container) > *,
.freeBox___8ORd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8ORd > :global(.__wab_flex-container) > picture > img,
.freeBox___8ORd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__xoFS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-rAM-KXRql);
  font-weight: 600;
  font-size: 14px;
  min-width: 0;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 46px;
  font-weight: 800;
  color: #11253e;
  line-height: 150%;
  letter-spacing: normal;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    text-align: left;
    font-size: 28px;
  }
}
.text__bOq1X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  text-align: center;
  color: #57657f;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bOq1X {
    text-align: left;
  }
}
.button__lAof1 {
  flex-direction: row;
  position: relative;
  background: var(--token-iLnjQLjs5);
  height: 48px;
  width: 215px;
  display: flex;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.button__lAof1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.button__lAof1 > :global(.__wab_flex-container) > *,
.button__lAof1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__lAof1 > :global(.__wab_flex-container) > picture > img,
.button__lAof1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__lAof1 {
    align-self: flex-start;
  }
}
.text__pXBw {
  position: relative;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pXBw {
    text-align: center;
  }
}
.img___679Kv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img___679Kv > picture > img {
  object-fit: cover;
}
.img___679Kv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__iq6FF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.img___9S8Qq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 280px;
  flex-shrink: 0;
}
.img___9S8Qq > picture > img {
  object-fit: cover;
}
.img___9S8Qq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__tOyVo {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 285px;
  left: 567px;
  top: 425px;
  z-index: 3;
}
.img__tOyVo > picture > img {
  object-fit: cover;
}
.img__tOyVo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jjDfppFjp);
  min-width: 0;
  padding: 10px 135px 126px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section2 {
    padding: 35px;
  }
}
.columns__eUk4D {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  background: var(--token-rAM-KXRql);
  z-index: 2;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.columns__eUk4D > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eUk4D {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eUk4D > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pYmSj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 25px;
}
.text__e4Ev3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1024px;
  color: #ffffff;
  font-size: 30px;
  line-height: 140%;
  padding-bottom: 0px;
  text-align: center;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e4Ev3 {
    font-size: 22px;
  }
}
.freeBox__izkR4 {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 177px;
  max-width: 100%;
  left: 0px;
  top: -85px;
  background: var(--token-sUlnNNU8i);
  margin-top: 0px;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__izkR4 {
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.columns__zATdb {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  margin-top: 75px;
  margin-bottom: 55px;
  min-width: 0;
  padding: 8px;
}
.columns__zATdb > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__zATdb > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__zATdb > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__zATdb > :global(.__wab_flex-container) > *,
.columns__zATdb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__zATdb > :global(.__wab_flex-container) > picture > img,
.columns__zATdb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zATdb {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zATdb > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zATdb > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
.column__mu6OK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__mu6OK {
    padding: 0px;
  }
}
.freeBox__dKXcu {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 25px;
}
.freeBox__dKXcu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__dKXcu > :global(.__wab_flex-container) > *,
.freeBox__dKXcu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dKXcu > :global(.__wab_flex-container) > picture > img,
.freeBox__dKXcu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.img__bkrtx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 400px;
}
.img__bkrtx > picture > img {
  object-fit: cover;
}
.img__bkrtx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__tpEui {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  padding-right: 0px;
  color: var(--token-SfoXLYV5r);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tpEui {
    font-size: 22px;
  }
}
.text__qmeWy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
.column___4680Z {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___4680Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column___4680Z > :global(.__wab_flex-container) > *,
.column___4680Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___4680Z > :global(.__wab_flex-container) > picture > img,
.column___4680Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___4680Z {
    padding: 0px;
  }
}
.freeBox__dKhtc {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox__dKhtc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__dKhtc > :global(.__wab_flex-container) > *,
.freeBox__dKhtc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dKhtc > :global(.__wab_flex-container) > picture > img,
.freeBox__dKhtc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.img__qb0R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__qb0R > picture > img {
  object-fit: cover;
}
.img__qb0R > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___1YRjw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 0px;
  color: var(--token-SfoXLYV5r);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1YRjw {
    font-size: 22px;
  }
}
.text__wzd2L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
.columns___6MSn1 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.columns___6MSn1 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns___6MSn1 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns___6MSn1 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns___6MSn1 > :global(.__wab_flex-container) > *,
.columns___6MSn1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___6MSn1 > :global(.__wab_flex-container) > picture > img,
.columns___6MSn1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6MSn1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6MSn1 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6MSn1 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
.column___0CnQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___0CnQ {
    padding: 0px;
  }
}
.freeBox__c5Gv3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 25px;
}
.freeBox__c5Gv3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__c5Gv3 > :global(.__wab_flex-container) > *,
.freeBox__c5Gv3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c5Gv3 > :global(.__wab_flex-container) > picture > img,
.freeBox__c5Gv3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.img__fSwY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__fSwY > picture > img {
  object-fit: cover;
}
.img__fSwY > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__ao3M3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  padding-right: 0px;
  color: var(--token-SfoXLYV5r);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ao3M3 {
    font-size: 22px;
  }
}
.text__eTcd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
.column__ltAk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__ltAk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column__ltAk > :global(.__wab_flex-container) > *,
.column__ltAk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ltAk > :global(.__wab_flex-container) > picture > img,
.column__ltAk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ltAk {
    padding: 0px;
  }
}
.freeBox__j6X8F {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox__j6X8F > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__j6X8F > :global(.__wab_flex-container) > *,
.freeBox__j6X8F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j6X8F > :global(.__wab_flex-container) > picture > img,
.freeBox__j6X8F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.img__fsnN0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__fsnN0 > picture > img {
  object-fit: cover;
}
.img__fsnN0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__wQxxo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 0px;
  color: var(--token-SfoXLYV5r);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wQxxo {
    font-size: 22px;
  }
}
.text__t1Mhe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__x63Ij {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 215px;
  max-width: 100%;
  left: 0px;
  top: 2442px;
  background: var(--token-jjDfppFjp);
  margin-top: 0px;
  z-index: 0;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x63Ij {
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.freeBox__cOaT0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 135px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cOaT0 {
    padding: 35px;
  }
}
.freeBox__ezw91 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/webBgPattern1Png.png") top 50% left 50% / contain repeat,
    var(--token-YwVAFL3GU);
  min-width: 0;
  border-radius: 50px;
  padding: 40px 92px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ezw91 {
    padding: 12px 12px 0px;
  }
}
.columns___80DK4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns___80DK4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
.columns___80DK4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___80DK4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___80DK4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___6GiL1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___6GiL1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column___6GiL1 > :global(.__wab_flex-container) > *,
.column___6GiL1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___6GiL1 > :global(.__wab_flex-container) > picture > img,
.column___6GiL1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__atrCi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-rAM-KXRql);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
  min-width: 0;
}
.text__sPIjD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 38px;
  line-height: 145%;
  font-weight: 300;
  padding-right: 59px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sPIjD {
    font-size: 22px;
  }
}
.freeBox__gor0 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 45px 8px 15px;
}
.freeBox__gor0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__gor0 > :global(.__wab_flex-container) > *,
.freeBox__gor0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gor0 > :global(.__wab_flex-container) > picture > img,
.freeBox__gor0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button__pShK {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background: none;
  width: 180px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 6px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__pShK {
    font-size: 16px;
  }
}
.button__syG7R {
  flex-direction: row;
  position: relative;
  background: var(--token-iLnjQLjs5);
  height: 45px;
  width: auto;
  display: flex;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.button__syG7R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.button__syG7R > :global(.__wab_flex-container) > *,
.button__syG7R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__syG7R > :global(.__wab_flex-container) > picture > img,
.button__syG7R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__syG7R {
    align-self: flex-start;
  }
}
.text___1NwgC {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1NwgC {
    text-align: center;
  }
}
.img___3DVzd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img___3DVzd > picture > img {
  object-fit: cover;
}
.img___3DVzd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__yhNuX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}
.img__xi1OZ {
  position: relative;
  object-fit: cover;
  max-width: 220px;
  align-self: auto;
  max-height: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__xi1OZ > picture > img {
  object-fit: cover;
}
.img__xi1OZ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
