.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__goK2K {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.reusableHeader:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.section1 {
  flex-direction: row;
  display: flex;
  position: relative;
  background: #ffffff;
  width: 100%;
  min-width: 0;
}
.section1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.section1 > :global(.__wab_flex-container) > *,
.section1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section1 > :global(.__wab_flex-container) > picture > img,
.section1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-y9I7gTw_Y);
  min-width: 0;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sa8Tz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sa8Tz {
    width: 100%;
  }
}
.freeBox__qHSrH {
  flex-direction: column;
  display: flex;
  width: 100%;
  background: var(--token-YwVAFL3GU);
  height: 100%;
  max-width: none;
  min-width: 0;
  min-height: 0;
  padding: 125px 0px 100px 135px;
}
.freeBox__qHSrH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 37px);
  height: calc(100% + 37px);
}
.freeBox__qHSrH > :global(.__wab_flex-container) > *,
.freeBox__qHSrH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qHSrH > :global(.__wab_flex-container) > picture > img,
.freeBox__qHSrH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 37px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qHSrH {
    border-bottom-right-radius: 150px;
    padding: 45px 30px 30px;
  }
}
.copy {
  flex-direction: column;
  display: flex;
  max-width: none;
  align-self: auto;
  width: 100%;
  min-width: 0;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .copy {
    margin-bottom: 20px;
  }
}
.freeBox__kHrdw {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__kHrdw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__kHrdw > :global(.__wab_flex-container) > *,
.freeBox__kHrdw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kHrdw > :global(.__wab_flex-container) > picture > img,
.freeBox__kHrdw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__d3ULb {
  font-size: 60px;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.h1___934Az {
  font-size: 52px;
  font-weight: 800;
  color: var(--token-sUlnNNU8i);
  letter-spacing: 1px;
  line-height: 140%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  margin-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1___934Az {
    font-size: 36px;
  }
}
.text__h1JiI {
  font-size: 22px;
  color: var(--token-sUlnNNU8i);
  line-height: 140%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 30px;
  width: 75%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__h1JiI {
    font-size: 18px;
    width: 100%;
    min-width: 0;
  }
}
.button__kuk4A {
  flex-direction: row;
  position: relative;
  background: var(--token-rAM-KXRql);
  height: 48px;
  width: 215px;
  display: flex;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.button__kuk4A > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.button__kuk4A > :global(.__wab_flex-container) > *,
.button__kuk4A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__kuk4A > :global(.__wab_flex-container) > picture > img,
.button__kuk4A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__kuk4A {
    align-self: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__kuk4A > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-end;
  }
}
.text__uaBbg {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uaBbg {
    text-align: center;
  }
}
.img__x9Qig {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__x9Qig > picture > img {
  object-fit: cover;
}
.img__x9Qig > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__zglE2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  background: var(--token-YwVAFL3GU);
  border-bottom-right-radius: 150px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zglE2 {
    width: 100%;
  }
}
.freeBox__oBfS {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--token-jjDfppFjp);
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  display: none;
}
.freeBox__hRn9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 72px 0px 30px;
}
.freeBox__hRn9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.freeBox__hRn9 > :global(.__wab_flex-container) > *,
.freeBox__hRn9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hRn9 > :global(.__wab_flex-container) > picture > img,
.freeBox__hRn9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
.freeBox__iTreO {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__iTreO > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 45px);
  height: calc(100% + 45px);
}
.freeBox__iTreO > :global(.__wab_flex-container) > *,
.freeBox__iTreO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iTreO > :global(.__wab_flex-container) > picture > img,
.freeBox__iTreO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 45px;
}
.freeBox__vq0XS {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vq0XS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__vq0XS > :global(.__wab_flex-container) > *,
.freeBox__vq0XS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vq0XS > :global(.__wab_flex-container) > picture > img,
.freeBox__vq0XS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vq0XS > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vq0XS > :global(.__wab_flex-container) > *,
  .freeBox__vq0XS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vq0XS > :global(.__wab_flex-container) > picture > img,
  .freeBox__vq0XS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h1__vttdJ {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-YwVAFL3GU);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__vttdJ {
    line-height: 100%;
    text-align: center;
    font-size: 32px;
    display: block;
  }
}
.freeBox__cbVw4 {
  display: block;
  position: relative;
  width: 250px;
  max-width: 100%;
  align-self: center;
  background: var(--token-iLnjQLjs5);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cbVw4 {
    width: 200px;
  }
}
.freeBox__sAoYs {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sAoYs {
    display: flex;
  }
}
.showcaseComponentMobile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__aIlXl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aIlXl {
    display: none;
  }
}
.freeBox__pAf6W {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-top: 0px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.showcaseComponent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.img__au2Jh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
}
.img__au2Jh > picture > img {
  object-fit: cover;
}
.img__au2Jh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ebQBr {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jjDfppFjp);
  min-width: 0;
  padding: 43px 8px 81px;
  margin: 0px;
}
.freeBox__ebQBr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox__ebQBr > :global(.__wab_flex-container) > *,
.freeBox__ebQBr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ebQBr > :global(.__wab_flex-container) > picture > img,
.freeBox__ebQBr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
.freeBox__t8BtC {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__t8BtC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__t8BtC > :global(.__wab_flex-container) > *,
.freeBox__t8BtC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t8BtC > :global(.__wab_flex-container) > picture > img,
.freeBox__t8BtC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t8BtC {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t8BtC > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t8BtC > :global(.__wab_flex-container) > *,
  .freeBox__t8BtC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__t8BtC > :global(.__wab_flex-container) > picture > img,
  .freeBox__t8BtC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h1__z5UGh {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-YwVAFL3GU);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__z5UGh {
    line-height: 100%;
    text-align: center;
    font-size: 32px;
  }
}
.freeBox___4D6Rd {
  display: block;
  position: relative;
  width: 280px;
  max-width: 100%;
  align-self: auto;
  background: var(--token-iLnjQLjs5);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4D6Rd {
    width: 220px;
  }
}
.freeBox__roR2D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__roR2D {
    display: none;
  }
}
.freeBox__oBlHg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.webShowcaseComponent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}
.freeBox___6WuKw {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6WuKw {
    display: flex;
  }
}
.webShowcaseComponentMobile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.cta {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: url("./images/webBgPattern1Png.png") left 50% bottom 140% / contain repeat-x,
    url("./images/webBgPattern1Png.png") top 89% left 50% / contain repeat-x,
    var(--token-YwVAFL3GU);
  min-width: 0;
  padding: 80px 135px;
}
.cta > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.cta > :global(.__wab_flex-container) > *,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cta > :global(.__wab_flex-container) > picture > img,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cta {
    padding-right: 30px;
    padding-left: 30px;
    background: url("./images/webBgPattern1Png.png") left 50% bottom 100% / contain repeat-x,
      url("./images/webBgPattern1Png.png") top 93% left 50% / contain repeat-x,
      var(--token-YwVAFL3GU);
  }
}
.text__leZqB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  align-self: center;
  color: var(--token-rAM-KXRql);
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__leZqB {
    font-size: 16px;
  }
}
.text___2U0Vw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 65%;
  text-align: center;
  align-self: center;
  color: #ffffff;
  font-size: 38px;
  line-height: 140%;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2U0Vw {
    font-size: 28px;
    max-width: none;
  }
}
.freeBox__mnFQh {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 60px 8px 15px;
}
.freeBox__mnFQh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__mnFQh > :global(.__wab_flex-container) > *,
.freeBox__mnFQh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mnFQh > :global(.__wab_flex-container) > picture > img,
.freeBox__mnFQh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button__kqBJc {
  flex-direction: row;
  position: relative;
  background: var(--token-iLnjQLjs5);
  height: 45px;
  width: auto;
  display: flex;
  border-radius: 30px;
  padding: 6px 27px 6px 25px;
  border-width: 1px;
  border-style: none;
}
.button__kqBJc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.button__kqBJc > :global(.__wab_flex-container) > *,
.button__kqBJc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__kqBJc > :global(.__wab_flex-container) > picture > img,
.button__kqBJc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__kqBJc {
    align-self: flex-start;
  }
}
.text__udI1M {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__udI1M {
    text-align: center;
  }
}
.img__ourdy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__ourdy > picture > img {
  object-fit: cover;
}
.img__ourdy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
