.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.menuHeaderDesktop:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.hero {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 60px 135px 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    padding: 35px;
  }
}
.text__vb2Eb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-rAM-KXRql);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  min-width: 0;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 46px;
  font-weight: 800;
  color: #11253e;
  line-height: 140%;
  letter-spacing: normal;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    text-align: left;
    font-size: 28px;
  }
}
.text__g3EnZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  text-align: center;
  color: #57657f;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g3EnZ {
    text-align: left;
  }
}
.button__mpGQp {
  position: relative;
  color: #ffffff;
  background: var(--token-iLnjQLjs5);
  font-weight: 700;
  font-size: 19px;
  border-radius: 30px;
  padding: 6px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__mpGQp {
    text-align: center;
    align-self: flex-start;
  }
}
.img__l7L3R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 263px;
}
.img__l7L3R > picture > img {
  object-fit: cover;
}
.img__l7L3R > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__l7L3R {
    display: inline-block !important;
  }
}
.freeBox__ovCxv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 135px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ovCxv {
    padding: 35px;
  }
}
.freeBox___9LfNz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-rAM-KXRql);
  min-width: 0;
  border-radius: 30px;
  padding: 45px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9LfNz {
    padding: 8px;
  }
}
.columns__uw5Bf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__uw5Bf > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uw5Bf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uw5Bf > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ix0AA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__eMw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1024px;
  color: #ffffff;
  font-size: 34px;
  line-height: 140%;
  padding-bottom: 0px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eMw {
    font-size: 18px;
    text-align: left;
  }
}
.section2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jjDfppFjp);
  min-width: 0;
  padding: 8px 135px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section2 {
    padding: 35px;
  }
}
.columns__cAJtt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__cAJtt > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__cAJtt > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cAJtt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cAJtt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gvAsN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gvAsN {
    padding: 0px;
  }
}
.freeBox__f0XRm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f0XRm {
    padding: 0px;
  }
}
.img___5Jr5R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___5Jr5R > picture > img {
  object-fit: cover;
}
.img___5Jr5R > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__tH6A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tH6A {
    font-size: 22px;
  }
}
.text__qLXd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  min-width: 0;
}
.column___8GnC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___8GnC {
    padding: 0px;
  }
}
.freeBox__t6XMc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__znBfI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__znBfI > picture > img {
  object-fit: cover;
}
.img__znBfI > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__fgK9I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fgK9I {
    font-size: 22px;
  }
}
.text__p9YBm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  min-width: 0;
}
.columns__whkYi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__whkYi > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__whkYi > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__whkYi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__whkYi > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xfoCx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xfoCx {
    padding: 0px;
  }
}
.freeBox__qUqxc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___59S8M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___59S8M > picture > img {
  object-fit: cover;
}
.img___59S8M > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___6LTrb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6LTrb {
    font-size: 22px;
  }
}
.text__pvDJb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  min-width: 0;
}
.column__pbuWp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pbuWp {
    padding: 0px;
  }
}
.freeBox__hEs4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__c1Hwa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__c1Hwa > picture > img {
  object-fit: cover;
}
.img__c1Hwa > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__eq769 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eq769 {
    font-size: 22px;
  }
}
.text__nXhk8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  min-width: 0;
}
.freeBox__n5WHu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 135px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n5WHu {
    padding: 35px;
  }
}
.freeBox__eYx9Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/webBgPattern1Png.png") top 50% left 50% / contain repeat,
    var(--token-YwVAFL3GU);
  min-width: 0;
  border-radius: 30px;
  padding: 50px 92px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eYx9Y {
    padding: 10px 10px 0px;
  }
}
.columns___7OxJ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 8px 0px;
}
.columns___7OxJ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
.columns___7OxJ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7OxJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7OxJ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___8FyW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ctPzS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-rAM-KXRql);
  font-weight: 600;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ctPzS {
    font-size: 18px;
  }
}
.text__crBb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 38px;
  line-height: 140%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__crBb {
    font-size: 22px;
  }
}
.freeBox__zdvLo {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__zdvLo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__zdvLo > :global(.__wab_flex-container) > *,
.freeBox__zdvLo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zdvLo > :global(.__wab_flex-container) > picture > img,
.freeBox__zdvLo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button__nZYl {
  position: relative;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  background: none;
  border-radius: 30px;
  padding: 6px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__nZYl {
    font-size: 16px;
  }
}
.button___6QqS {
  position: relative;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  background: var(--token-iLnjQLjs5);
  border-radius: 30px;
  padding: 6px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___6QqS {
    font-size: 16px;
  }
}
.column__uygWz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
.img__zn9Wp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 220px;
  height: 370px;
  flex-shrink: 0;
}
.img__zn9Wp > picture > img {
  object-fit: cover;
}
.img__zn9Wp > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
