.root2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root2 > :global(.__wab_flex-container) > *,
.root2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root2 > :global(.__wab_flex-container) > picture > img,
.root2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__pcY23 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.reusableHeader:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  height: 80px;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.section1 {
  flex-direction: row;
  display: flex;
  position: relative;
  background: #ffffff;
  width: 100%;
  min-width: 0;
}
.section1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.section1 > :global(.__wab_flex-container) > *,
.section1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section1 > :global(.__wab_flex-container) > picture > img,
.section1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.columns__mreRl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-y9I7gTw_Y);
  min-width: 0;
}
.columns__mreRl > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
.columns__mreRl > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mreRl {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mreRl > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___0Ic6W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___0Ic6W {
    width: 100%;
  }
}
.freeBox__rvGe3 {
  flex-direction: column;
  display: flex;
  width: 100%;
  background: var(--token-YwVAFL3GU);
  height: 100%;
  max-width: none;
  min-width: 0;
  min-height: 0;
  padding: 125px 0px 100px 135px;
}
.freeBox__rvGe3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 37px);
  height: calc(100% + 37px);
}
.freeBox__rvGe3 > :global(.__wab_flex-container) > *,
.freeBox__rvGe3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rvGe3 > :global(.__wab_flex-container) > picture > img,
.freeBox__rvGe3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 37px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rvGe3 {
    border-bottom-right-radius: 0px;
    padding: 45px 30px 0px;
  }
}
.copy {
  flex-direction: column;
  display: flex;
  max-width: none;
  align-self: auto;
  width: 100%;
  min-width: 0;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .copy {
    margin-bottom: 20px;
  }
}
.freeBox___62WhD {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___62WhD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox___62WhD > :global(.__wab_flex-container) > *,
.freeBox___62WhD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___62WhD > :global(.__wab_flex-container) > picture > img,
.freeBox___62WhD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__aJ7Hz {
  font-size: 60px;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.h1__fci11 {
  font-size: 40px;
  font-weight: 800;
  color: var(--token-sUlnNNU8i);
  letter-spacing: 1px;
  line-height: 140%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  margin-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__fci11 {
    font-size: 32px;
  }
}
.column__aqPtq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  background: var(--token-YwVAFL3GU);
  border-bottom-right-radius: 150px;
  justify-content: flex-end;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__aqPtq {
    width: 100%;
  }
}
.freeBox__zoqxp {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--token-jjDfppFjp);
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  display: none;
}
.img__dIJiC {
  position: relative;
  object-fit: cover;
  max-width: 65%;
}
.img__dIJiC > picture > img {
  object-fit: cover;
}
.img__dIJiC > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__glAfq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__glAfq {
    display: none;
  }
}
.ctaBlog2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  transform: none;
  align-self: auto;
  min-width: 0;
  padding: 0px 135px 71px;
  border-width: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ctaBlog2 {
    padding: 29px 30px;
  }
}
.img__fCzRx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 263px;
  left: 214px;
  top: -21px;
  z-index: 1;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(5deg);
  transform-style: preserve-3d;
}
.img__fCzRx > picture > img {
  object-fit: cover;
}
.img__fCzRx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__fCzRx * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fCzRx {
    width: 231px;
    height: auto;
    top: 0px;
    left: 80px;
    transform-style: preserve-3d;
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fCzRx * {
    transform-style: preserve-3d;
  }
}
.columns__yxfcH {
  display: flex;
  position: relative;
  width: 1100px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  transform: none;
  padding: 8px;
}
.columns__yxfcH > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yxfcH {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px 1px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yxfcH > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___6S4PJ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/webBgPattern1Png.png") top -30% left 50% / contain repeat-x,
    url("./images/webBgPattern1Png.png") left 50% top 84.9% / contain no-repeat padding-box
      border-box,
    var(--token-jjDfppFjp);
  min-width: 0;
  border-radius: 50px;
  padding: 84px 65px 56px;
  border-style: solid;
  border-color: var(--token-jjDfppFjp);
}
.column___6S4PJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column___6S4PJ > :global(.__wab_flex-container) > *,
.column___6S4PJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___6S4PJ > :global(.__wab_flex-container) > picture > img,
.column___6S4PJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___6S4PJ {
    border-radius: 30px;
    padding: 50px 30px;
  }
}
.h1__iFwkQ {
  position: relative;
  width: 90%;
  height: auto;
  max-width: none;
  font-weight: 400;
  font-size: 22px;
  color: var(--token-EiezZTnFA);
  line-height: 145%;
  letter-spacing: normal;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__iFwkQ {
    font-size: 16px;
    width: 100%;
    min-width: 0;
  }
}
.section11 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  display: none;
  padding: 65px 135px;
}
.section11 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.section11 > :global(.__wab_flex-container) > *,
.section11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section11 > :global(.__wab_flex-container) > picture > img,
.section11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section11 {
    padding: 50px;
  }
}
.h1__tMwCu {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-YwVAFL3GU);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
}
.freeBox__qXo22 {
  display: block;
  position: relative;
  width: 317px;
  max-width: 100%;
  align-self: center;
  background: var(--token-iLnjQLjs5);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
.columns__nhvw5 {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__nhvw5 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__nhvw5 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__nhvw5 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nhvw5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nhvw5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pfvQd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pfvQd {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__ynNa {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__ynNa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__ynNa > :global(.__wab_flex-container) > *,
.freeBox__ynNa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ynNa > :global(.__wab_flex-container) > picture > img,
.freeBox__ynNa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ynNa {
    align-self: center;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ynNa > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.img__sNsKl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__sNsKl > picture > img {
  object-fit: cover;
}
.img__sNsKl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__sNsKl {
    align-self: center;
  }
}
.text__ozqOj {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ozqOj {
    align-self: center;
  }
}
.text__pAtZa {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-YwVAFL3GU);
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pAtZa {
    align-self: center;
    text-align: center;
  }
}
.column__gkCgt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gkCgt {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__stNNl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__stNNl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__stNNl > :global(.__wab_flex-container) > *,
.freeBox__stNNl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__stNNl > :global(.__wab_flex-container) > picture > img,
.freeBox__stNNl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__stNNl {
    padding: 0px;
  }
}
.img__h8Rqd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__h8Rqd > picture > img {
  object-fit: cover;
}
.img__h8Rqd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__h8Rqd {
    align-self: center;
  }
}
.text__fvLoL {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fvLoL {
    align-self: center;
  }
}
.text__vkfmV {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-YwVAFL3GU);
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vkfmV {
    text-align: center;
    align-self: center;
  }
}
.column__pfSnt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
.freeBox__erDC {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__erDC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__erDC > :global(.__wab_flex-container) > *,
.freeBox__erDC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__erDC > :global(.__wab_flex-container) > picture > img,
.freeBox__erDC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__erDC {
    padding: 0px;
  }
}
.img__ckmky {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__ckmky > picture > img {
  object-fit: cover;
}
.img__ckmky > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ckmky {
    align-self: center;
  }
}
.text__sxBwz {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sxBwz {
    align-self: center;
  }
}
.text__i8PoC {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-YwVAFL3GU);
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i8PoC {
    text-align: center;
    align-self: center;
  }
}
.freeBox__qnehu {
  display: block;
  position: relative;
  width: 100%;
  max-width: 80%;
  align-self: center;
  background: #c7d8ee;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
}
.cta {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: url("./images/webBgPattern1Png.png") left 50% bottom 140% / contain repeat-x,
    url("./images/webBgPattern1Png.png") top 89% left 50% / contain repeat-x,
    var(--token-YwVAFL3GU);
  min-width: 0;
  padding: 80px 135px;
}
.cta > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.cta > :global(.__wab_flex-container) > *,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cta > :global(.__wab_flex-container) > picture > img,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cta {
    padding-right: 30px;
    padding-left: 30px;
    background: url("./images/webBgPattern1Png.png") left 50% bottom 100% / contain repeat-x,
      url("./images/webBgPattern1Png.png") top 93% left 50% / contain repeat-x,
      var(--token-YwVAFL3GU);
  }
}
.text___7QKLz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  align-self: center;
  color: var(--token-rAM-KXRql);
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7QKLz {
    font-size: 16px;
  }
}
.text__ahIbs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 65%;
  text-align: center;
  align-self: center;
  color: #ffffff;
  font-size: 38px;
  line-height: 140%;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ahIbs {
    font-size: 28px;
    max-width: none;
  }
}
.freeBox__ukDK {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 60px 8px 15px;
}
.freeBox__ukDK > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__ukDK > :global(.__wab_flex-container) > *,
.freeBox__ukDK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ukDK > :global(.__wab_flex-container) > picture > img,
.freeBox__ukDK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.link {
  flex-direction: row;
  position: relative;
  background: var(--token-iLnjQLjs5);
  height: 45px;
  width: auto;
  display: flex;
  border-radius: 30px;
  padding: 6px 27px 6px 25px;
  border-width: 1px;
  border-style: none;
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link {
    align-self: flex-start;
  }
}
.text__li9BD {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__li9BD {
    text-align: center;
  }
}
.img__ypfCb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__ypfCb > picture > img {
  object-fit: cover;
}
.img__ypfCb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
