.root2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root2 > :global(.__wab_flex-container) > *,
.root2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root2 > :global(.__wab_flex-container) > picture > img,
.root2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.reusableHeader:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__glAfq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.ctaBlog2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  transform: none;
  align-self: auto;
  min-width: 0;
  padding: 0px 135px;
  border-width: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ctaBlog2 {
    padding: 29px 30px;
  }
}
.section12 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 66px 135px 50px;
}
.section12 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.section12 > :global(.__wab_flex-container) > *,
.section12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section12 > :global(.__wab_flex-container) > picture > img,
.section12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section12 {
    padding: 60px 30px 30px;
  }
}
.h2__d9DAg {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-YwVAFL3GU);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__d9DAg {
    letter-spacing: normal;
    font-size: 28px;
    line-height: 145%;
  }
}
.freeBox__ozVJo {
  display: block;
  position: relative;
  width: 280px;
  max-width: 100%;
  align-self: center;
  background: var(--token-iLnjQLjs5);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ozVJo {
    max-width: 55%;
  }
}
.img__sDqbx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 1026px;
  top: 123px;
  width: 135px;
  z-index: 1;
}
.img__sDqbx > picture > img {
  object-fit: cover;
}
.img__sDqbx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__fCzRx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 263px;
  left: 230px;
  top: 155px;
  z-index: 1;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(5deg);
  transform-style: preserve-3d;
}
.img__fCzRx > picture > img {
  object-fit: cover;
}
.img__fCzRx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__fCzRx * {
  transform-style: preserve-3d;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fCzRx {
    width: 231px;
    height: auto;
    top: 0px;
    left: 0px;
    transform-style: preserve-3d;
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fCzRx * {
    transform-style: preserve-3d;
  }
}
.columns__yxfcH {
  display: flex;
  position: relative;
  width: 1100px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  transform: none;
  padding: 8px;
}
.columns__yxfcH > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yxfcH {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px 1px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yxfcH > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___6S4PJ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/webBgPattern1Png.png") top -30% left 50% / contain repeat-x,
    url("./images/webBgPattern1Png.png") left 50% top 84.9% / contain no-repeat padding-box
      border-box,
    var(--token-jjDfppFjp);
  min-width: 0;
  border-radius: 50px;
  padding: 84px 65px 56px;
  border-style: solid;
  border-color: var(--token-jjDfppFjp);
}
.column___6S4PJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column___6S4PJ > :global(.__wab_flex-container) > *,
.column___6S4PJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___6S4PJ > :global(.__wab_flex-container) > picture > img,
.column___6S4PJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___6S4PJ {
    border-radius: 30px;
    padding: 50px 30px;
  }
}
.h1__iFwkQ {
  position: relative;
  width: 90%;
  height: auto;
  max-width: none;
  font-weight: 400;
  font-size: 22px;
  color: var(--token-EiezZTnFA);
  line-height: 145%;
  letter-spacing: normal;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__iFwkQ {
    font-size: 18px;
    width: 100%;
    min-width: 0;
  }
}
.section11 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  display: none;
  padding: 65px 135px;
}
.section11 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.section11 > :global(.__wab_flex-container) > *,
.section11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section11 > :global(.__wab_flex-container) > picture > img,
.section11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section11 {
    padding: 50px;
  }
}
.h1__tMwCu {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-YwVAFL3GU);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
}
.freeBox__qXo22 {
  display: block;
  position: relative;
  width: 317px;
  max-width: 100%;
  align-self: center;
  background: var(--token-iLnjQLjs5);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
.columns__nhvw5 {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__nhvw5 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__nhvw5 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__nhvw5 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nhvw5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nhvw5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pfvQd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pfvQd {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__ynNa {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__ynNa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__ynNa > :global(.__wab_flex-container) > *,
.freeBox__ynNa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ynNa > :global(.__wab_flex-container) > picture > img,
.freeBox__ynNa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ynNa {
    align-self: center;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ynNa > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.img__sNsKl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__sNsKl > picture > img {
  object-fit: cover;
}
.img__sNsKl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__sNsKl {
    align-self: center;
  }
}
.text__ozqOj {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ozqOj {
    align-self: center;
  }
}
.text__pAtZa {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-YwVAFL3GU);
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pAtZa {
    align-self: center;
    text-align: center;
  }
}
.column__gkCgt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gkCgt {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__stNNl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__stNNl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__stNNl > :global(.__wab_flex-container) > *,
.freeBox__stNNl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__stNNl > :global(.__wab_flex-container) > picture > img,
.freeBox__stNNl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__stNNl {
    padding: 0px;
  }
}
.img__h8Rqd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__h8Rqd > picture > img {
  object-fit: cover;
}
.img__h8Rqd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__h8Rqd {
    align-self: center;
  }
}
.text__fvLoL {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fvLoL {
    align-self: center;
  }
}
.text__vkfmV {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-YwVAFL3GU);
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vkfmV {
    text-align: center;
    align-self: center;
  }
}
.column__pfSnt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
.freeBox__erDC {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__erDC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__erDC > :global(.__wab_flex-container) > *,
.freeBox__erDC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__erDC > :global(.__wab_flex-container) > picture > img,
.freeBox__erDC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__erDC {
    padding: 0px;
  }
}
.img__ckmky {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__ckmky > picture > img {
  object-fit: cover;
}
.img__ckmky > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ckmky {
    align-self: center;
  }
}
.text__sxBwz {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sxBwz {
    align-self: center;
  }
}
.text__i8PoC {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-YwVAFL3GU);
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i8PoC {
    text-align: center;
    align-self: center;
  }
}
.section8 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 80px 135px 50px;
}
.section8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.section8 > :global(.__wab_flex-container) > *,
.section8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section8 > :global(.__wab_flex-container) > picture > img,
.section8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section8 {
    padding: 60px 30px 30px;
  }
}
.h2__fO3SX {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-YwVAFL3GU);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
  font-family: "Inter", sans-serif;
  max-width: 198px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__fO3SX {
    letter-spacing: normal;
    font-size: 28px;
    line-height: 145%;
  }
}
.freeBox___47CMi {
  display: block;
  position: relative;
  width: 317px;
  max-width: 100%;
  align-self: center;
  background: var(--token-iLnjQLjs5);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___47CMi {
    max-width: 55%;
  }
}
.ctaBlog {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 70px;
  transform: none;
  align-self: auto;
  min-width: 0;
  padding: 0px 135px;
  border-width: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ctaBlog {
    padding: 29px 30px;
  }
}
.columns__lgqXp {
  display: flex;
  position: relative;
  width: 1100px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  transform: none;
  padding: 8px;
}
.columns__lgqXp > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lgqXp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px 1px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lgqXp > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vt83A {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/webBgPattern1Png.png") top -30% left 50% / contain repeat-x,
    url("./images/webBgPattern1Png.png") left 50% top 84.9% / contain no-repeat padding-box
      border-box,
    var(--token-YwVAFL3GU);
  min-width: 0;
  border-radius: 50px;
  padding: 39px 65px 55px;
  border-style: solid;
  border-color: var(--token-jjDfppFjp);
}
.column__vt83A > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__vt83A > :global(.__wab_flex-container) > *,
.column__vt83A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__vt83A > :global(.__wab_flex-container) > picture > img,
.column__vt83A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vt83A {
    border-radius: 30px;
    padding: 50px 50px 50px 47px;
  }
}
.text__edXLi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #3e7cb1;
  font-weight: 600;
  font-size: 16px;
  min-width: 0;
}
.h1___1EnPc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 660px;
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
  line-height: 145%;
  letter-spacing: normal;
  padding-top: 19px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1___1EnPc {
    font-size: 26px;
  }
}
.img__jLiBv {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 310px;
  left: 707px;
  top: 154px;
}
.img__jLiBv > picture > img {
  object-fit: cover;
}
.img__jLiBv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__jLiBv {
    display: none !important;
  }
}
.freeBox__umdp6 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 35px 8px 8px 0px;
}
.freeBox__umdp6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__umdp6 > :global(.__wab_flex-container) > *,
.freeBox__umdp6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__umdp6 > :global(.__wab_flex-container) > picture > img,
.freeBox__umdp6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button {
  flex-direction: row;
  position: relative;
  background: var(--token-iLnjQLjs5);
  height: 45px;
  width: auto;
  display: flex;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button {
    align-self: flex-start;
  }
}
.text__z7Tnw {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z7Tnw {
    text-align: center;
  }
}
.img__wiUiR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__wiUiR > picture > img {
  object-fit: cover;
}
.img__wiUiR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section9 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  display: none;
  padding: 65px 135px;
}
.section9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.section9 > :global(.__wab_flex-container) > *,
.section9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section9 > :global(.__wab_flex-container) > picture > img,
.section9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section9 {
    padding: 50px;
  }
}
.h1__u9Sp2 {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-YwVAFL3GU);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
}
.freeBox___5HnmO {
  display: block;
  position: relative;
  width: 317px;
  max-width: 100%;
  align-self: center;
  background: var(--token-iLnjQLjs5);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
.columns__vZic6 {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__vZic6 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__vZic6 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__vZic6 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vZic6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vZic6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__bDuId {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bDuId {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__fn3I {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__fn3I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__fn3I > :global(.__wab_flex-container) > *,
.freeBox__fn3I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fn3I > :global(.__wab_flex-container) > picture > img,
.freeBox__fn3I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fn3I {
    align-self: center;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fn3I > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.img__cRgLw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__cRgLw > picture > img {
  object-fit: cover;
}
.img__cRgLw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__cRgLw {
    align-self: center;
  }
}
.text___5Ekzs {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5Ekzs {
    align-self: center;
  }
}
.text___5VXqv {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-YwVAFL3GU);
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5VXqv {
    align-self: center;
    text-align: center;
  }
}
.column__eJk9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__eJk9 {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__hhB5F {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__hhB5F > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__hhB5F > :global(.__wab_flex-container) > *,
.freeBox__hhB5F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hhB5F > :global(.__wab_flex-container) > picture > img,
.freeBox__hhB5F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hhB5F {
    padding: 0px;
  }
}
.img__f5C5Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__f5C5Y > picture > img {
  object-fit: cover;
}
.img__f5C5Y > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__f5C5Y {
    align-self: center;
  }
}
.text__jyZjc {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jyZjc {
    align-self: center;
  }
}
.text__vGNp {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-YwVAFL3GU);
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vGNp {
    text-align: center;
    align-self: center;
  }
}
.column__d7Ie {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  border-radius: 20px;
  padding: 29px 0px;
}
.freeBox__nweQg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 51px;
}
.freeBox__nweQg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__nweQg > :global(.__wab_flex-container) > *,
.freeBox__nweQg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nweQg > :global(.__wab_flex-container) > picture > img,
.freeBox__nweQg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nweQg {
    padding: 0px;
  }
}
.img__w1Nc2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__w1Nc2 > picture > img {
  object-fit: cover;
}
.img__w1Nc2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__w1Nc2 {
    align-self: center;
  }
}
.text__dcXmC {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #3e7cb1;
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dcXmC {
    align-self: center;
  }
}
.text__do3Zh {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: var(--token-YwVAFL3GU);
  align-self: flex-start;
  padding-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__do3Zh {
    text-align: center;
    align-self: center;
  }
}
.freeBox__qnehu {
  display: block;
  position: relative;
  width: 100%;
  max-width: 80%;
  align-self: center;
  background: #c7d8ee;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
