.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.reusableHeader:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.hero {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(180deg, #f5f6f6 29%, #ffffff 90%);
  min-width: 0;
  padding: 60px 135px 230px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    padding: 35px 35px 0px;
  }
}
.columns__jqVHk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__jqVHk > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
.columns__jqVHk > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 6 / 12);
}
.columns__jqVHk > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jqVHk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jqVHk > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__o8UB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.img___48Sp8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 280px;
  flex-shrink: 0;
}
.img___48Sp8 > picture > img {
  object-fit: cover;
}
.img___48Sp8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___0FDEq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.freeBox__lGcO {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__lGcO > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__lGcO > :global(.__wab_flex-container) > *,
.freeBox__lGcO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lGcO > :global(.__wab_flex-container) > picture > img,
.freeBox__lGcO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.freeBox___3VgwN {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___3VgwN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___3VgwN > :global(.__wab_flex-container) > *,
.freeBox___3VgwN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3VgwN > :global(.__wab_flex-container) > picture > img,
.freeBox___3VgwN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__sEaL4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-rAM-KXRql);
  font-weight: 600;
  font-size: 14px;
  min-width: 0;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 46px;
  font-weight: 800;
  color: #11253e;
  line-height: 150%;
  letter-spacing: normal;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    text-align: left;
    font-size: 28px;
  }
}
.text__hOkik {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  text-align: center;
  color: #57657f;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hOkik {
    text-align: left;
  }
}
.button__pNrD5 {
  flex-direction: row;
  position: relative;
  background: var(--token-iLnjQLjs5);
  height: 48px;
  width: 215px;
  display: flex;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.button__pNrD5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.button__pNrD5 > :global(.__wab_flex-container) > *,
.button__pNrD5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__pNrD5 > :global(.__wab_flex-container) > picture > img,
.button__pNrD5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__pNrD5 {
    align-self: flex-start;
  }
}
.text__sUcLu {
  position: relative;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sUcLu {
    text-align: center;
  }
}
.img__m2L2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__m2L2 > picture > img {
  object-fit: cover;
}
.img__m2L2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__vViCg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.img__mwSd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 280px;
  flex-shrink: 0;
}
.img__mwSd > picture > img {
  object-fit: cover;
}
.img__mwSd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__nFon2 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 285px;
  left: 579px;
  top: 355px;
  z-index: 3;
}
.img__nFon2 > picture > img {
  object-fit: cover;
}
.img__nFon2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jjDfppFjp);
  min-width: 0;
  padding: 10px 135px 126px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section2 {
    padding: 35px;
  }
}
.columns__jfBx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  background: var(--token-rAM-KXRql);
  z-index: 2;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.columns__jfBx > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jfBx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jfBx > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__kCfDx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 25px;
}
.text___80VS4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1024px;
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 0px;
  text-align: center;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___80VS4 {
    font-size: 22px;
  }
}
.freeBox__sQ6WX {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 177px;
  max-width: 100%;
  left: 0px;
  top: -105px;
  background: var(--token-sUlnNNU8i);
  margin-top: 0px;
  z-index: 1;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sQ6WX {
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.columns__dyN4T {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  margin-top: 75px;
  margin-bottom: 55px;
  min-width: 0;
  padding: 8px;
}
.columns__dyN4T > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__dyN4T > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__dyN4T > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__dyN4T > :global(.__wab_flex-container) > *,
.columns__dyN4T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dyN4T > :global(.__wab_flex-container) > picture > img,
.columns__dyN4T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dyN4T {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dyN4T > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dyN4T > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
.column___1SS1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___1SS1 {
    padding: 0px;
  }
}
.freeBox__gi4U2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 25px;
}
.freeBox__gi4U2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__gi4U2 > :global(.__wab_flex-container) > *,
.freeBox__gi4U2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gi4U2 > :global(.__wab_flex-container) > picture > img,
.freeBox__gi4U2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.img___53TjB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 400px;
}
.img___53TjB > picture > img {
  object-fit: cover;
}
.img___53TjB > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___11Rj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  padding-right: 0px;
  color: var(--token-SfoXLYV5r);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___11Rj {
    font-size: 22px;
  }
}
.text__f9Hid {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
.column__tClpx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__tClpx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column__tClpx > :global(.__wab_flex-container) > *,
.column__tClpx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__tClpx > :global(.__wab_flex-container) > picture > img,
.column__tClpx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tClpx {
    padding: 0px;
  }
}
.freeBox__xrX8S {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox__xrX8S > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__xrX8S > :global(.__wab_flex-container) > *,
.freeBox__xrX8S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xrX8S > :global(.__wab_flex-container) > picture > img,
.freeBox__xrX8S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.img__eCuHm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__eCuHm > picture > img {
  object-fit: cover;
}
.img__eCuHm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__w6BWf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 0px;
  color: var(--token-SfoXLYV5r);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__w6BWf {
    font-size: 22px;
  }
}
.text__aadYo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
.columns__v0RKl {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.columns__v0RKl > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__v0RKl > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__v0RKl > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__v0RKl > :global(.__wab_flex-container) > *,
.columns__v0RKl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__v0RKl > :global(.__wab_flex-container) > picture > img,
.columns__v0RKl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__v0RKl {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__v0RKl > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__v0RKl > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
.column__hX7VO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hX7VO {
    padding: 0px;
  }
}
.freeBox__ptBlH {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 25px;
}
.freeBox__ptBlH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__ptBlH > :global(.__wab_flex-container) > *,
.freeBox__ptBlH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ptBlH > :global(.__wab_flex-container) > picture > img,
.freeBox__ptBlH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.img___0SGWu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img___0SGWu > picture > img {
  object-fit: cover;
}
.img___0SGWu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__oOzPz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  padding-right: 0px;
  color: var(--token-SfoXLYV5r);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oOzPz {
    font-size: 22px;
  }
}
.text__hv29F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
.column___3P75 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___3P75 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.column___3P75 > :global(.__wab_flex-container) > *,
.column___3P75 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___3P75 > :global(.__wab_flex-container) > picture > img,
.column___3P75
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3P75 {
    padding: 0px;
  }
}
.freeBox__w9RWu {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px;
}
.freeBox__w9RWu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__w9RWu > :global(.__wab_flex-container) > *,
.freeBox__w9RWu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w9RWu > :global(.__wab_flex-container) > picture > img,
.freeBox__w9RWu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.img__ijHUp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 400px;
  align-self: flex-start;
}
.img__ijHUp > picture > img {
  object-fit: cover;
}
.img__ijHUp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nY6Vq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  padding-right: 0px;
  color: var(--token-SfoXLYV5r);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nY6Vq {
    font-size: 22px;
  }
}
.text__pnhU2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__akNe {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 215px;
  max-width: 100%;
  left: 0px;
  top: 2442px;
  background: var(--token-jjDfppFjp);
  margin-top: 0px;
  z-index: 0;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__akNe {
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.freeBox__rpcId {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 135px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rpcId {
    padding: 35px;
  }
}
.freeBox__lUh5O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/webBgPattern1Png.png") top 50% left 50% / contain repeat,
    var(--token-YwVAFL3GU);
  min-width: 0;
  border-radius: 50px;
  padding: 40px 92px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lUh5O {
    padding: 12px 12px 0px;
  }
}
.columns__amQf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns__amQf > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
.columns__amQf > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__amQf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__amQf > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__utCa {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__utCa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column__utCa > :global(.__wab_flex-container) > *,
.column__utCa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__utCa > :global(.__wab_flex-container) > picture > img,
.column__utCa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__dtN5O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-rAM-KXRql);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 25px;
  min-width: 0;
}
.text__l3Ckq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 38px;
  line-height: 145%;
  font-weight: 300;
  padding-right: 59px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__l3Ckq {
    font-size: 22px;
  }
}
.freeBox__aSuoZ {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 45px 8px 15px;
}
.freeBox__aSuoZ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__aSuoZ > :global(.__wab_flex-container) > *,
.freeBox__aSuoZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aSuoZ > :global(.__wab_flex-container) > picture > img,
.freeBox__aSuoZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button__reojZ {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background: none;
  width: 180px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 6px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__reojZ {
    font-size: 16px;
  }
}
.button__qBw3R {
  flex-direction: row;
  position: relative;
  background: var(--token-iLnjQLjs5);
  height: 45px;
  width: auto;
  display: flex;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.button__qBw3R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.button__qBw3R > :global(.__wab_flex-container) > *,
.button__qBw3R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__qBw3R > :global(.__wab_flex-container) > picture > img,
.button__qBw3R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__qBw3R {
    align-self: flex-start;
  }
}
.text__xcRp9 {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xcRp9 {
    text-align: center;
  }
}
.img__e8Kij {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__e8Kij > picture > img {
  object-fit: cover;
}
.img__e8Kij > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__jKO9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}
.img__ifSla {
  position: relative;
  object-fit: cover;
  max-width: 220px;
  align-self: auto;
  max-height: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ifSla > picture > img {
  object-fit: cover;
}
.img__ifSla > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
