.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.section1 {
  flex-direction: row;
  display: flex;
  position: relative;
  background: #ffffff;
  width: 100%;
  min-width: 0;
}
.section1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.section1 > :global(.__wab_flex-container) > *,
.section1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section1 > :global(.__wab_flex-container) > picture > img,
.section1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-y9I7gTw_Y);
  min-width: 0;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sa8Tz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sa8Tz {
    width: 100%;
  }
}
.freeBox__qHSrH {
  flex-direction: column;
  display: flex;
  width: 100%;
  background: var(--token-YwVAFL3GU);
  height: 100%;
  max-width: none;
  min-width: 0;
  min-height: 0;
  padding: 125px 0px 100px 135px;
}
.freeBox__qHSrH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 37px);
  height: calc(100% + 37px);
}
.freeBox__qHSrH > :global(.__wab_flex-container) > *,
.freeBox__qHSrH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qHSrH > :global(.__wab_flex-container) > picture > img,
.freeBox__qHSrH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 37px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qHSrH {
    border-bottom-right-radius: 150px;
    padding: 40px 30px 30px;
  }
}
.copy {
  flex-direction: column;
  display: flex;
  max-width: none;
  align-self: auto;
  width: 100%;
  min-width: 0;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.freeBox__kHrdw {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__kHrdw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__kHrdw > :global(.__wab_flex-container) > *,
.freeBox__kHrdw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kHrdw > :global(.__wab_flex-container) > picture > img,
.freeBox__kHrdw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__d3ULb {
  font-size: 60px;
  line-height: 1;
  color: #000000d9;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.h1___934Az {
  font-size: 52px;
  font-weight: 800;
  color: var(--token-sUlnNNU8i);
  letter-spacing: 1px;
  line-height: 140%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  margin-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1___934Az {
    font-size: 35px;
  }
}
.text__h1JiI {
  font-size: 22px;
  color: var(--token-sUlnNNU8i);
  line-height: 140%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 30px;
  width: 75%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__h1JiI {
    font-size: 20px;
  }
}
.button__kuk4A {
  flex-direction: row;
  position: relative;
  background: var(--token-rAM-KXRql);
  height: 48px;
  width: 215px;
  display: flex;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 6px 25px;
  border-width: 1px;
  border-style: none;
}
.button__kuk4A > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.button__kuk4A > :global(.__wab_flex-container) > *,
.button__kuk4A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__kuk4A > :global(.__wab_flex-container) > picture > img,
.button__kuk4A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__kuk4A {
    align-self: flex-start;
  }
}
.text__uaBbg {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uaBbg {
    text-align: center;
  }
}
.img__x9Qig {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__x9Qig > picture > img {
  object-fit: cover;
}
.img__x9Qig > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__zglE2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  background: var(--token-YwVAFL3GU);
  border-bottom-right-radius: 150px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zglE2 {
    width: 100%;
  }
}
.freeBox__oBfS {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--token-jjDfppFjp);
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  display: none;
}
.freeBox__hRn9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 30px;
}
.h1__vttdJ {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-YwVAFL3GU);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__vttdJ {
    line-height: 100%;
    text-align: left;
  }
}
.freeBox__cbVw4 {
  display: block;
  position: relative;
  width: 317px;
  max-width: 100%;
  align-self: center;
  background: var(--token-iLnjQLjs5);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
.freeBox__pAf6W {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 35px 200px;
}
.showcaseComponent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 551px;
  top: 47.21875px;
}
.freeBox__ebQBr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 30px;
}
.h1__z5UGh {
  font-size: 36px;
  font-weight: 800;
  color: var(--token-YwVAFL3GU);
  letter-spacing: 0.5px;
  line-height: 130%;
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__z5UGh {
    line-height: 100%;
    text-align: left;
  }
}
.freeBox___4D6Rd {
  display: block;
  position: relative;
  width: 317px;
  max-width: 100%;
  align-self: center;
  background: var(--token-iLnjQLjs5);
  height: 5px;
  flex-shrink: 0;
  border-radius: 5px;
}
.freeBox__oBlHg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.webShowcaseComponent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 338px;
  top: 65.921875px;
}
.cta {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: url("./images/webBgPattern1Png.png") top 50% left 50% / contain repeat,
    var(--token-YwVAFL3GU);
  min-width: 0;
  padding: 80px 135px;
}
.cta > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.cta > :global(.__wab_flex-container) > *,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cta > :global(.__wab_flex-container) > picture > img,
.cta > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cta {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.text__leZqB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  align-self: center;
  color: var(--token-rAM-KXRql);
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.text___2U0Vw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 65%;
  text-align: center;
  align-self: center;
  color: #ffffff;
  font-size: 38px;
  line-height: 140%;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2U0Vw {
    font-size: 28px;
  }
}
.freeBox__mnFQh {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 60px 8px 15px;
}
.freeBox__mnFQh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__mnFQh > :global(.__wab_flex-container) > *,
.freeBox__mnFQh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mnFQh > :global(.__wab_flex-container) > picture > img,
.freeBox__mnFQh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button__c4NYb {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  background: none;
  width: 180px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 6px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__c4NYb {
    font-size: 16px;
  }
}
.button__kqBJc {
  flex-direction: row;
  position: relative;
  background: var(--token-iLnjQLjs5);
  height: 45px;
  width: auto;
  display: flex;
  border-radius: 30px;
  padding: 6px 27px 6px 25px;
  border-width: 1px;
  border-style: none;
}
.button__kqBJc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.button__kqBJc > :global(.__wab_flex-container) > *,
.button__kqBJc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__kqBJc > :global(.__wab_flex-container) > picture > img,
.button__kqBJc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__kqBJc {
    align-self: flex-start;
  }
}
.text__udI1M {
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__udI1M {
    text-align: center;
  }
}
.img__ourdy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  flex-shrink: 0;
}
.img__ourdy > picture > img {
  object-fit: cover;
}
.img__ourdy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
