.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.menuHeaderDesktop:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.hero {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 60px 135px 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero {
    padding: 35px 35px 0px;
  }
}
.text__b83L8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-rAM-KXRql);
  font-weight: 600;
  font-size: 14px;
  min-width: 0;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 46px;
  font-weight: 800;
  color: #11253e;
  line-height: 140%;
  letter-spacing: normal;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    text-align: left;
    font-size: 28px;
  }
}
.text__qDiun {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  text-align: center;
  color: #57657f;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qDiun {
    text-align: left;
  }
}
.button__gWcRi {
  position: relative;
  color: #ffffff;
  background: var(--token-iLnjQLjs5);
  font-weight: 700;
  font-size: 19px;
  border-radius: 30px;
  padding: 6px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__gWcRi {
    text-align: center;
    align-self: flex-start;
  }
}
.img__ftMoO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 263px;
}
.img__ftMoO > picture > img {
  object-fit: cover;
}
.img__ftMoO > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__fGrf8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jjDfppFjp);
  min-width: 0;
  padding: 8px;
}
.freeBox___2Dx1B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jjDfppFjp);
  margin-top: 0px;
  min-width: 0;
  padding: 0px 135px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Dx1B {
    padding: 0px 35px 35px;
  }
}
.freeBox___24Dpq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-rAM-KXRql);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.columns__vqh9E {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  min-width: 0;
  padding: 8px;
}
.columns__vqh9E > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vqh9E {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vqh9E > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jzYrX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__w38Wr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1024px;
  color: #ffffff;
  font-size: 34px;
  line-height: 140%;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__w38Wr {
    font-size: 22px;
  }
}
.section2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jjDfppFjp);
  min-width: 0;
  padding: 8px 135px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section2 {
    padding: 35px;
  }
}
.columns__nx6Uk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__nx6Uk > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__nx6Uk > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nx6Uk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nx6Uk > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__eDfK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__eDfK {
    padding: 0px;
  }
}
.freeBox___4Jw6D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.img__g0XA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__g0XA > picture > img {
  object-fit: cover;
}
.img__g0XA > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___8Ow3Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8Ow3Z {
    font-size: 22px;
  }
}
.text__zODoI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  min-width: 0;
}
.column__k3H6F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__k3H6F {
    padding: 0px;
  }
}
.freeBox__rksZc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__i0FB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__i0FB > picture > img {
  object-fit: cover;
}
.img__i0FB > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__xQ1QJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xQ1QJ {
    font-size: 22px;
  }
}
.text__oF1Ny {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  min-width: 0;
}
.columns__ocUfE {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ocUfE > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ocUfE > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ocUfE {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ocUfE > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___94YCe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___94YCe {
    padding: 0px;
  }
}
.freeBox__oYy6I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__amAFk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__amAFk > picture > img {
  object-fit: cover;
}
.img__amAFk > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__bcoud {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bcoud {
    font-size: 22px;
  }
}
.text__riEhr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  min-width: 0;
}
.column__u5PWj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__u5PWj {
    padding: 0px;
  }
}
.freeBox__kRmG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___71Pau {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___71Pau > picture > img {
  object-fit: cover;
}
.img___71Pau > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__uJhWh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  font-weight: 500;
  line-height: 135%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uJhWh {
    font-size: 22px;
  }
}
.text__il2AA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #58667f;
  font-size: 18px;
  min-width: 0;
}
.freeBox__okBjt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 135px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__okBjt {
    padding: 35px;
  }
}
.freeBox___4JzUp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/webBgPattern1Png.png") top 50% left 50% / contain repeat,
    var(--token-YwVAFL3GU);
  min-width: 0;
  border-radius: 30px;
  padding: 50px 92px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4JzUp {
    padding: 12px 12px 0px;
  }
}
.columns__yjUEq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 8px 0px;
}
.columns__yjUEq > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns__yjUEq > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yjUEq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yjUEq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ilMnm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__gU6D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-rAM-KXRql);
  font-weight: 600;
  font-size: 18px;
  min-width: 0;
}
.text__er8Ny {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 38px;
  line-height: 140%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__er8Ny {
    font-size: 22px;
  }
}
.freeBox__h4Nca {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 45px 8px 8px;
}
.freeBox__h4Nca > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__h4Nca > :global(.__wab_flex-container) > *,
.freeBox__h4Nca > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h4Nca > :global(.__wab_flex-container) > picture > img,
.freeBox__h4Nca
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button__yVRqa {
  position: relative;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  background: none;
  border-radius: 30px;
  padding: 6px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__yVRqa {
    font-size: 16px;
  }
}
.button__xaOhz {
  position: relative;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  background: var(--token-iLnjQLjs5);
  border-radius: 30px;
  padding: 6px 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__xaOhz {
    font-size: 16px;
  }
}
.column__ehYbb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
.img__jrUY {
  position: relative;
  object-fit: cover;
  max-width: 220px;
  align-self: auto;
  max-height: 370px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__jrUY > picture > img {
  object-fit: cover;
}
.img__jrUY > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
