* {
  margin: 0;
  padding: 0;
}
p {
  font-size: 13px;
}

h5 {
  font-size: 17px;
  font-weight: 500;
}

.showcase--container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0px;
  justify-content: start;
}
.showcase--container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase--items {
  margin-top: 20px;
}

.showcase--items-mobile {
  width: 80vw;
  justify-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.showcase--item {
  height: 70px;
  width: 350px;
  color: white;
  padding: 10px 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: start;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.5s;
}

.showcase--item-minimized {
  height: 50px;
  width: 50px;
  color: white;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.5s;
}

.showcase--item-light {
  height: 50px;
  width: 350px;
  background-color: white;
  border: solid 1px #6495d359;
  color: #58667f;
  margin-top: 10px;
  padding: 10px 10px;
  border-radius: 15px;
  text-align: start;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.5s;
}

.showcase--item-light-minimized {
  height: 50px;
  width: 50px;
  color: white;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.5s;
}

.showcase--item-light.selected {
  height: 120px;
  text-align: start;
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: black;
  transition: height 0.5s;
}

.showcase--item.selected {
  height: 120px;
  text-align: start;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: black;
  transition: height 0.5s;
}

.showcase--item-minimized.selected {
  background-color: white;
  border: 1px solid rgba(100, 149, 211, 0.35);
}
.showcase--item-light-minimized.selected {
  background-color: white;
  border: 1px solid rgba(100, 149, 211, 0.35);
}

.showcase--item-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 10px;
}

.showcase--item p {
  padding-top: 5px;
  padding-left: 45px;
}

.showcase--item-light p {
  padding-top: 5px;
  padding-left: 45px;
}
.showcase--display {
  width: min-content;
}
.showcase--display-mobile {
  width: 100%;
}

.showcase--item-content-minimized {
  text-align: start;
  color: #11253e;
  padding: 10px 40px;
}
