.video-container {
  position: relative;
  height: 500px;
  width: 450px;
  margin-left: 100px;
  overflow: hidden;
}

.video-container-full {
  position: relative;
  height: 600px;
  width: 450px;
  margin-left: 100px;
  overflow: hidden;
}

.video-container-minimized {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 10px 0;
}

.video-container-minimized-web {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 10px 0;
}

.video-container-web {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.phone-mockup {
  position: absolute;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  border: none;
  border-radius: 35px;
}

.video-container-full video {
  position: absolute;
  bottom: 100px;
  padding-left: 12px;
  border-radius: 0;
  z-index: 1;
}

.video-container-minimized video {
  position: relative;
  margin-top: 40px;
  border-radius: 0;
  z-index: 1;
}

.video-container video {
  position: absolute;
  bottom: 0;
  padding-left: 12px;
  border-radius: 0;
  z-index: 1;
}
.video-container-web {
  margin: 20px 0;
  left: -50px;
  height: 450px;
  width: 790px;
  padding: 15px;
  border: solid 2px black;
  background-color: #f4f4f3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.video-container-app {
  width: 500px;
}

.video-container-web-mobile {
  width: 80%;
  background-color: #f4f4f3;
  height: 200px;
  border: solid 1px black;
  border-radius: 10px;
}
